<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.jussfun">

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />

            <data android:mimeType="image/jpeg" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />

            <data android:mimeType="image/jpeg" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>
    </queries>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- this permission for oppo device -->
    <permission
        android:name="com.app.jussfun.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.app.jussfun.permission.C2D_MESSAGE" />
    <uses-permission
        android:name="android.permission.CAPTURE_VIDEO_OUTPUT"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".base.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl,android:allowBackup"
        tools:targetApi="q">
        <activity
            android:name=".ui.BankDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.feed.likes.LikedUsersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.feed.CommentsActivity"
            android:exported="false"
            android:theme="@style/SliderThemeWhite" />
        <activity
            android:name=".ui.feed.AddFeedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FullScreenImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NearByActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SliderThemeWhite"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="appr.tc"
                    android:scheme="https" />
                <data
                    android:host="appr.tc"
                    android:scheme="http" />
                <data
                    android:host="@string/dynamic_link_filter"
                    android:pathPattern=".*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BaseFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.GeneralSettingsActivity"
            android:exported="false"
            android:theme="@style/SliderThemeWhite" />
        <activity
            android:name=".ui.ChatActivity"
            android:exported="false"
            android:theme="@style/SliderThemeWhite"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.EarnGemsActivity"
            android:exported="false"
            android:theme="@style/SliderThemeWhite"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.HelpActivity"
            android:exported="false"
            android:theme="@style/SliderThemeWhite" />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:theme="@style/SliderThemeWhite" />
        <activity
            android:name=".ui.ConvertGiftActivity"
            android:exported="false"
            android:theme="@style/SliderThemeBlack" />
        <activity
            android:name=".ui.LocationFilterActivity"
            android:exported="false"
            android:theme="@style/SliderThemeBlack" />
        <activity
            android:name=".ui.GemsStoreActivity"
            android:exported="false"
            android:theme="@style/SliderThemeBlack" />
        <activity
            android:name=".ui.PrimeActivity"
            android:exported="false"
            android:theme="@style/SliderThemeWhite" />
        <activity
            android:name=".ui.RecentHistoryActivity"
            android:exported="false"
            android:theme="@style/SliderThemeBlack" />
        <activity
            android:name=".ui.TermsActivity"
            android:exported="false"
            android:theme="@style/SliderThemeWhite" />
        <activity
            android:name=".ui.RandomCallActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".ui.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SliderThemeBlack"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.OthersProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SliderThemeBlack" />
        <activity
            android:name=".ui.FollowersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SliderThemeBlack" />
        <activity
            android:name=".ui.ImageViewActivity"
            android:exported="false"
            android:theme="@style/SliderThemeBlack" />
        <activity
            android:name=".ui.VideoCallActivity"
            android:exported="false"
            android:keepScreenOn="true"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme" />
        <activity
            android:name=".ui.MyProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/SliderThemeBlack" />
        <activity
            android:name=".ui.BlockedUsersActivity"
            android:exported="false"
            android:theme="@style/SliderThemeBlack"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.FindPeoplesActivity"
            android:exported="false"
            android:theme="@style/SliderThemeWhite"
            android:windowSoftInputMode="stateVisible|adjustNothing" />
        <activity
            android:name=".ui.QRCodeScannerActivity"
            android:exported="false"
            android:theme="@style/SliderThemeBlack" />
        <activity
            android:name=".ui.QRCodeGenerateActivity"
            android:exported="false"
            android:theme="@style/SliderThemeBlack" />
        <activity
            android:name=".ui.LanguageActivity"
            android:exported="false"
            android:theme="@style/SliderThemeWhite"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.LockScreenActivity" />
        <activity
            android:name=".ui.feed.FilterActivity"
            android:exported="false"
            android:theme="@style/SliderThemeWhite"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.feed.FeedsActivity"
            android:exported="false"
            android:theme="@style/SliderThemeWhite" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".helper.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>